        <div class="row">
          <div class="col-12">
            <div class="property-slider-wrap">
              <div class="property-slider">
                <div class="property-item">
                  <a href="property-single" class="img">



                    <img src="images/img_1.jpg" alt="Image" class="img-fluid" />





                    
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>$1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5232 Girne Fake, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">Kıbrıs, <span style="text-transform: capitalize;">girne</span></span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3 text-uppercase"
                        >incele</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <!-- <div class="property-item">
                  <a href="property-single" class="img">
                    <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>$</span><span>1,30,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >çanakkale mahallesi</span
                      >
                      <span class="city d-block mb-3">Girne / Kıbrıs</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-home me-2"></span>
                          <span class="caption">3 + 2 </span>
                        </span>
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 </span>
                        </span>
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 </span>
                        </span>           

                        <span class="d-block d-flex align-items-center ">
                          <span class="icon-area-chart me-2"></span>
                          <span class="caption">20m2</span>
                        </span>
                      </div>
                      <a
                        href="property-single"
                        class="btn btn-primary py-2 px-3"
                        >İncele</a
                      >
                    </div>
                  </div>
                </div> -->

                <!-- .item -->

              
              </div>

              <div
                id="property-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
              >
                <span
                  class="prev"
                  data-controls="prev"
                  aria-controls="property"
                  tabindex="-1"
                  >Önceki</span
                >
                <span
                  class="next"
                  data-controls="next"
                  aria-controls="property"
                  tabindex="-1"
                  >Sonraki</span
                >
              </div>
            </div>
          </div>
        </div>