<%- include("layouts/header") %>
  <body>
<%- include("layouts/nav1") %>
<div
      class="hero page-inner overlay"
      style="background-image: url('images/hero_bg_1.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Blog</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="blog">Blog Ana Sayfa</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Mülklerimiz
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-2 d-md-block d-sm-none d-none ">
            <img class="w-100" src="images/img_3.jpg" alt="Image" />
          </div>
          <div class="col-lg-10">
            <h2 class="heading text-primary">Mülklerimiz</h2>
            <p class="meta">Lorem ipsum dolor sit amet consectetur</p>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              laborum quo quos omnis sed magnam id, ducimus saepe, debitis error
              earum, iste dicta odio est sint dolorem magni animi tenetur.
            </p>
            <p class="text-black-50">
              Perferendis eligendi reprehenderit, assumenda molestias nisi eius
              iste reiciendis porro tenetur in, repudiandae amet libero.
              Doloremque, reprehenderit cupiditate error laudantium qui, esse
              quam debitis, eum cumque perferendis, illum harum expedita.
            </p>
            <p class="text-black-50">
              Perferendis eligendi reprehenderit, assumenda molestias nisi eius
              iste reiciendis porro tenetur in, repudiandae amet libero.
              Doloremque, reprehenderit cupiditate error laudantium qui, esse
              quam debitis, eum cumque perferendis, illum harum expedita.
            </p>
            <p class="text-black-50">
              Perferendis eligendi reprehenderit, assumenda molestias nisi eius
              iste reiciendis porro tenetur in, repudiandae amet libero.
              Doloremque, reprehenderit cupiditate error laudantium qui, esse
              quam debitis, eum cumque perferendis, illum harum expedita.
            </p>
          </div>
        </div>
      </div>
    </div>



<%- include("layouts/footer") %>





